
{% extends 'sent_backend/base.html' %}
{% load staticfiles %}

{% block content %}

<div class="container-fluid">
    <div class ="row">
        <div class ="col-lg-8">
            <div class="card">
                <div class="recent-comment">
									  <div class="media">
										    <div class="media-left">
											      <a href="#"><img alt="..." src="/static/images/twitter-avatar.png" class="media-object"></a>
										        </div>
										        <div class="media-body">
											          <h4 class="media-heading">{{ tweet.user }} / {{ tweet.fullname }}</h4>
											          <p>{{ tweet.text }}</p>
											          <p class="comment-date">{{ tweet.timestamp }}</p>
										            </div>
									  </div>
                    <div class="button-list">
                    <div class="btn-group">
                        <a href="?id={{ tweet.tweet_id }}&class=negative"><button type="button" class="btn btn-primary btn-danger">Negative</button></a>
                        <a href="?id={{ tweet.tweet_id }}&class=neutral"><button type="button" class="btn btn-dark btn-outline btn-rounded">Neutral</button></a>
                        <a href="?id={{ tweet.tweet_id }}&class=positive"><button type="button" class="btn btn-primary btn-success">Positive</button></a>
                        <a href="?id={{ tweet.tweet_id }}&class=junk"><button type="button" class="btn btn-primary">Junk</button></a>
                        <a href="?id={{ tweet.tweet_id }}&class=discard"><button type="button" class="btn btn-dark">Discard</button></a>
                        </div>
                        </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}