{% load staticfiles %}


<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/backend.css' %}">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head

<body>
<h1>Backend</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eros nisi, vehicula at leo sed, auctor molestie ex. Duis mattis turpis vel mauris cursus, sit amet mattis leo consectetur. Nunc nec orci lacinia, congue turpis id, pretium libero. Aliquam fermentum eleifend est, id sollicitudin sem venenatis ac. In tempor sollicitudin sapien, quis rhoncus eros viverra sit amet. Nunc nec suscipit nisi. Maecenas sed semper ex.</p>
<p> Morbi placerat auctor mi convallis aliquet. Aenean sed nulla volutpat magna posuere sagittis a tincidunt magna. Nulla facilisi. Curabitur sed nisi sed nibh maximus feugiat nec non ante. Aliquam eget consequat dui, sed gravida urna. Curabitur vitae dolor vitae risus venenatis convallis eget et est. Fusce nec orci eget sapien mollis facilisis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean at aliquet felis. Morbi mi arcu, pellentesque convallis auctor at, pellentesque pretium libero. Phasellus nec elit id massa hendrerit facilisis.</p>
</body>